<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Login</title>
</head>

<body>
    <section id="login">
        <div class="login-container">
            <h2>Iniciar sesión</h2>
            <form id="login-form">
                <input type="text" id="login-username" placeholder="Usuario" autocomplete="username" required />
                <input type="password" id="login-password" placeholder="Contraseña" autocomplete="current-password"
                    required />
                <button type="submit">Entrar</button>
            </form>
            <p class="login-switch">
                ¿No tienes cuenta?
                <a href="./register.html">Regístrate aquí</a>
            </p>
        </div>
    </section>
    <script type="module" src="../js/login.js"></script>
</body>

</html>